{% extends 'basic2.html' %}

{% block content %}

<div class="main">
    Change Password
</div>
        
        
<div class="container">
    <h3 style="text-align: center;background-color: green; color : white; padding: 12px"> New Password </h3>

    <form action="/data_save/" method="post">
        {% csrf_token %}
        <div class="form-group col-md-6">
            <label for="old">Old Password</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Old Password" name="old">
        </div>
        <div class="form-group col-md-6">
            <label for="date">Confirm Old Password</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Confirm Old Password" name="confirm_old">
        </div>
        <div class="form-group col-md-6">
            <label for="new">New Password</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="New Password" name="assignment">
        </div>
        <div class="form-group col-md-6">
            <label for="new">Confirm New Password</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Confirm New Password" name="confirm_new">
        </div>
        <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-primary btn-block btn-lg">
            Submit </button>
        </div>
    </form>

</div>
    
{% endblock %}